.form-col{
    margin-bottom: 1em;
  }
  .form-input{
      display: flex;
      align-items: center;
      width: 100%;
      margin: auto;
      background: none;
      border-radius: 5px;
      border: 1px solid var(--clr-primary-400);
      /* margin-bottom: 1em; */
      
  }
  .form-input input{
      width: 100%;
      padding: .7em 1.4em;
      background: none;
      outline: none;
      border: none;
      color: var(--clr-primary-300);
  }
  .form-input i{
      margin: 0 -10px 0  20px;
      color:var(--clr-primary-300);
  }
  .form-col .error{
      color: red;
      font-size: .8rem;
  }